NOTION_TOKEN=
NOTION_API_KEY=
NOTION_PAPER_DB_ID=
NOTION_PAPER_DB_URL=
NOTION_DATABASE_API_VERSION=2022-06-28
NOTION_FILE_API_VERSION=2026-03-11
HTTP_PROXY=
HTTPS_PROXY=
PAPER_WORKFLOW_DATA_DIR=
PAPER_DOWNLOAD_DIR=
PAPER_RESULTS_DIR=
